@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}


body{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container h1{
 margin: 2vh;
 font-family: 'Edu VIC WA NT Beginner', cursive;
 color: yellow;
 font-size: 15vh;
 /* webkit-text-fill-color: yellow; */ /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;  */

}

#canvas {
  border: 5px solid antiquewhite; 
   border-radius: 10px; 
}

#start{
  all: unset;
  list-style-type: none;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border:1px solid antiquewhite;
  color: antiquewhite;
  font-weight: 400;
  border-radius: 5px;
  font-size: 3vh;
  padding: 10px 30px;
}